.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  &-content {
    box-sizing: border-box;
    padding: 20px 0;
    display: flex;
    height: auto;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    @include for-mobile {
      flex-direction: column;
      align-items: flex-start;
    }

    &__img {
      margin: 20px;
    }

    &__form {
      margin: 20px;
      position: relative;
      svg {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 3;
        margin: 11px;
        padding-right: 10px;
      }

      &__search {
        border: none;
        height: 30px;
        border-radius: 30px;
        padding: 5px 5px 5px 15px;
        color: lightgrey;
        background-color: #273b55;
        min-width: 220px;
      }

      @include for-mobile {
        width: 80%;
        svg {
          padding-right: 30px;
        }
        &__search {
          width: 80%;
        }
      }
    }
  }
}
