.layout {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100%;
  &__background {
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url('/backgroundimg.jpg'),
      linear-gradient(#0d1d37b8 0%, #112339 100%);
    position: absolute;
    width: 100%;
    top: 0;
    width: 100%;
    height: 0;
    padding-top: 66.64%;
    background-blend-mode: multiply;
  }
  padding-top: 150px;
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #112339;
    top: 0;
    left: 0;
  }

  @include for-mobile {
    padding-top: 220px;
  }
}
