.layout {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  background-color: grey;
  background: no-repeat url('/backgroundimg.jpg');
  background-size: cover;
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0d1d37;
    top: 0;
    left: 0;
    opacity: 0.75;
  }
}
