$maxw-screen: 800px;

@mixin for-mobile {
  @media (max-width: $maxw-screen) {
    @content;
  }
}

// RESET DEFAULT STYLE
html,
body {
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

body,
input,
button {
  margin: 0;
}

li {
  list-style-type: none;
}

input,
button {
  position: relative;
}

// Hide Chrome yellow autocomplete
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 pxToRem(30) white inset;
  transition: background-color 50000s ease-in-out 0s;
}

input:invalid {
  box-shadow: none;
}

body {
  position: static;
  overflow-y: scroll;
}

ul,
li {
  margin: 0;
  padding: 0;
}

h1,
p {
  margin: 0;
}

input {
  border-radius: 0;
  appearance: none;
  -webkit-appearance: none;
}

input::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type='checkbox']:checked,
input[type='radio']:checked {
  background-color: transparent; //iOS
}

input[type='radio'] {
  border: none; //iOS
}

input::-ms-check {
  display: none;
  width: 0;
  height: 0;
}

input::-webkit-input-placeholder {
  opacity: 1;
}

input::-moz-placeholder {
  opacity: 1;
}

input::-ms-input-placeholder {
  opacity: 1;
}

a,
button {
  border: none;
  background-color: transparent;

  cursor: pointer;
  font-size: inherit;
  font: inherit;
  color: inherit;
  text-decoration: none;
  padding: 0;
}

button:disabled {
  cursor: default;
}

abbr[title] {
  text-decoration: none;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
  min-width: 0;

  legend {
    padding: 0;
    margin: 0;
  }
}
button,
button:focus,
button:active {
  background: none;
  outline: none;
  padding: 0;
}
