.generic-slider {
  height: 100%;
  padding: 0 90px;

  @include for-mobile {
    padding: 40px 0 0;
    width: 115%;
  }

  .slick-list,
  .slick-track {
    height: 100%;
  }

  .slick-slide {
    & > div {
      display: flex;
      justify-content: center;
    }
  }

  .slick-arrow {
    width: 60px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    &:before {
      display: none;
    }
    @include for-mobile {
      display: none;
    }
  }

  .slick-prev {
    left: 25px;
    svg {
      transform: rotate(180deg);
      transform-origin: center center;
    }
    z-index: 1;
  }
  .slick-next {
    right: 25px;
    z-index: 1;
  }
}
