.top-movies {
  overflow: hidden;
  &__content {
    padding-bottom: 60px;
    border-bottom: 1px solid #516c8f3d;
    margin-bottom: 60px;
    @include for-mobile {
      padding-bottom: 30px;
      margin-bottom: 30px;
    }
  }

  h1 {
    color: white;
    font-size: 20px;
    padding-left: 25px;
    margin-bottom: 40px;

    @include for-mobile {
      font-size: 16px;
      padding-left: 15px;
      margin-bottom: 0;
    }
  }
}
